*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    width: 100vw;
    height: 50vh;
    background-color: brown;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: yellow;    
    width: 100px;   
}
#uno{
    order: 1;
}
#dos{
    order: 4;
}
#tres{
    order: 2;
}
#cuatro{
    order: 3;
}