*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.display{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    color: azure;
    font-size: 6rem;
    text-align: center;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 30px;
    /* aqui la leccion ↓ */
    display: inline-block;
    /* display: inline; */
    /* display: block; */
}