/*
    comentarios en css 
*/
/* estructura del css
selector:{
    propiedad: valor ;
    propiedad: valor ; <-<< punto y coma para terminar con la regla css
}

*/

.caja {
    width: 200px;
    height: 300px;
    margin-bottom: 2rem;
    margin-left: 2rem;
    background-color: brown;
}